.kotak{
  height: 100px;
  width: 100%;
  background-color: #D6E5EA;
  padding: 0.8rem;
  transition: all 0.5s;

  @media screen and (max-width: 1200px){
    height: 90px;
  }
  @media screen and (max-width: 980px){
    height: 80px;
  }
  @media screen and (max-width: 768px){
    height: 65px;
  }
  @media screen and (max-width: 575px){
    height: 40px;
  }
  
  
  .kotak-isi{
    font-size: 2rem;  
    @media screen and (max-width: 1200px){
    }
    @media screen and (max-width: 980px){
      font-size: 1.75rem;
    }
    @media screen and (max-width: 768px){
      font-size: 1.5rem; 
    }
    @media screen and (max-width: 575px){
      font-size: 1.25rem;
    }
  }
}
.kotak-title,
.kotak-isi{
  color: #063E56;
  
}
.kotak-title{
  font-size: 1rem;
  margin-bottom: 8px;
  @media screen and (max-width: 1200px){
  }
  @media screen and (max-width: 980px){
    font-size: 0.8rem;
  }
  @media screen and (max-width: 768px){
  }
  @media screen and (max-width: 480px){
    font-size: 0.7rem;
  }
}