#usrProfile{
  height: 100px;
  width: 100%;
  padding: 1rem;
  transition: all 0.5s;
  border-bottom: 1px solid lightgrey;

  @media screen and (max-width: 1200px){
    height: 90px;
  }
  @media screen and (max-width: 980px){
    height: 80px;
    padding: 0.25rem;
  }
  @media screen and (max-width: 768px){
    height: 65px;
  }
  @media screen and (max-width: 575px){
    border-bottom: 0;
    padding: 1rem;
  }
}
.photo-wrapper{
  @include size(80px);
  transition: ease all 0.5s;

  @media screen and (max-width: 1200px){
  }
  @media screen and (max-width: 980px){
    @include size(60px);
  }
  @media screen and (max-width: 768px){
    @include size(40px);
  }
  @media screen and (max-width: 575px){
    @include size(60px);
  }
  .photo-profile{
    border-radius: 100%;
  }
}
.name-wrapper{
  margin: 0 0 0 12px;
  transition: all 0.5s;
  @media screen and (max-width: 1200px){
  }
  @media screen and (max-width: 980px){
    font-size: 0.8rem;
  }
  @media screen and (max-width: 768px){
  }
  @media screen and (max-width: 575px){
    font-size: 0.9rem;
  }
  .name-profile{
    transition: all 0.5s;
    font-weight: 600;
  }
}
