h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
}
#content-data{
  transition: all 0.5s;
  background-color: #D9E7EE;
  @media screen and (max-width: 575px){
    flex-wrap: wrap;
    flex-direction: row;
    padding: 8px 0;
  }  
}

.bottom-content{
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  .name-mobile__wrapper {
    height: 35px!important;
    width: 100%;
    overflow: hidden;
    position: absolute!important;
    bottom: 0px;
    left: 0px;
    z-index: 11;
  }
  .name-mobile{
    position: absolute;
    font-weight: 800;
    color: #063E56;
    bottom: 4px;
    text-transform: capitalize;
    left: 8px;
    z-index: 12;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 768px){
    height: 150px;
  }
  @media screen and (max-width: 575px){
    display: flex;
    flex: 1 1 calc(100%/3);
    height: auto;
  }

  .gradient-img{
    @media screen and (max-width:575px  ) {
      z-index: 4;
      @include size(100%);
      opacity: .80;
      position: absolute;
      display: inline-block;
      background: rgba(255,255,255,0);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 )  
    }
  }

  .data-img{
    @include size(200px);
    @media screen and (max-width: 768px){
      @include size(150px);
    }
    @media screen and (max-width: 575px){
      @include size(100%);
      padding: 1px;
    }
  }  
  
  .bottom-content__article{
    flex:auto;
    transition: all 0.5s;

    @media screen and (max-width: 768px){
      font-size: 80%;
    }
    @media screen and (max-width: 640px){
      font-size: 70%;
    }
    @media screen and (max-width: 480px){
      font-size: 65%;
    }
    #dateArticle{
      margin-top: 28px;
      @media screen and (max-width: 768px){
        margin-top: 8px;
      }
      @media screen and (max-width: 480px){
        margin-top: 4px;
      }
    }
  }
}

.tiles-img {
  transition: all 0.5s;
  flex: 1 1 calc(100%/3);
  max-width: calc(100%/3);
}
.full-img {
  transition: all 0.5s;
  flex: 1 1 calc(100%/1);
  max-width: calc(100%/1);
}
