<div class="content-wrapper">
  <div id="topContent" class="content-wrapper__top d-flex">
    <div id="kotakWrapper" class="w-100 d-flex">
      @@include('../partials/components/kotak.html', {
        "title": "TOTAL GALLERY",
        "isi": "55"
      })
      @@include('../partials/components/kotak.html', {
        "title": "CURRENT DATE",
        "isi": "30 July 2019"
      })
    </div>
  </div>
  <div id="btn-mode" class="d-block py-2 px-3">
    <button id="single-img" class="btn-active"><i class="fas fa-stop"></i></button>
    <button id="tiles-img" ><i class="fas fa-th-large"></i></button>
  </div>
  <div class="content-wrapper__bottom">
    @@include('../partials/components/tilesPhoto.html')
  </div>
</div>


<script>
 
</script>