<!DOCTYPE html>
<html lang="en">

  @@include('../partials/head/head.html')

<body>
  <div id="wrapper">
    @@include('../partials/header/header.html')
    <div class="d-flex">
      <div class="d-none d-sm-block">
        @@include('../partials/drawer/drawer.html')
      </div>
      <div id="content" class="">
        @@include('../partials/content/index.html')
      </div>
    </div>
    <!-- @@include('../partials/components/entry-section.html')
    @@include('../partials/components/starter-box.html',  {
      "title": "JustCoded",
      "intro-text": "Web Starter Kit"
    }) -->
   
  </div>

  <script src="assets/js/vendor.min.js" defer></script>
  <script src="assets/js/app.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
    
    const regexDotDotDot = (val) => {
      return val.replace((/^(?<=(?:\S+ ){4})\S+/gm, "..."))
    }

    jQuery("#single-img").on("click", function(){
      jQuery("#single-img").addClass("btn-active")
      jQuery("#tiles-img").removeClass("btn-active")
      jQuery(".article-data").addClass("full-img").removeClass("tiles-img")
      jQuery(".name-mobile").removeClass("d-block").addClass("d-none")
    })

    jQuery("#tiles-img").on("click", function(){
      jQuery("#tiles-img").addClass("btn-active")
      jQuery("#single-img").removeClass("btn-active")
      jQuery(".article-data").removeClass("full-img").addClass("tiles-img")
      jQuery(".name-mobile").removeClass("d-none").addClass("d-block")
    })

    jQuery(window).on('load', function(){
    fetch('https://jsonplaceholder.typicode.com/photos')
      .then(function(response) {
        return response.json() ;
        })
        .then(payload => {
          var dataTemp = ""

          payload.slice(0,20).map(data => {
            dataTemp +=`<div class="d-flex article-data bottom-content">
                          <div class="gradient-img"></div>
                          <img class="data-img" src=${data.url}/>
                          <span class="name-mobile d-none d-sm-none">${()=>regexDotDotDot(data.url)}</span>
                          <div class="d-none d-sm-block p-3">
                            <div class="d-flex flex-column bottom-content__article">
                              <h6>${data.title}</h6>
                              <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a ...</span>
                              <span id="dateArticle" class="font-weight-bold">1 July 2019</span>
                            </div>
                          </div>
                        </div>`
          })
          jQuery('#content-data').append(dataTemp)
          $(document).ready(function(){
            if (window.matchMedia('(max-width: 575px)').matches) {
              jQuery(".article-data").addClass("full-img").removeClass("tiles-img")

              $("#kotakWrapper").addClass(" px-2");
              $("#topContent").addClass("flex-column");
              $("#usrProfile").addClass("my-2")
              jQuery("#content-data").removeClass("flex-column");
              jQuery("#content-data").removeClass("mt-4");
              jQuery("#usrProfile").detach().prependTo('#topContent');
              jQuery("#list-drawer").detach().prependTo('#wrapper');
            }
            $(window).resize(function() {
              var width = $(window).width();
              if (width < 576){
                jQuery("#content-data").removeClass("mt-4");
                jQuery("#kotakWrapper").addClass(" px-2");
                jQuery("#topContent").addClass("flex-column");
                jQuery("#usrProfile").addClass("my-2");
                jQuery("#content-data").removeClass("flex-column");
                jQuery("#usrProfile").detach().prependTo('#topContent');
              } else if(width > 575) {
                jQuery("#single-img").addClass("btn-active")
                jQuery("#tiles-img").removeClass("btn-active")  
                jQuery("#kotakWrapper").removeClass(" px-2");
                jQuery(".article-data").addClass("full-img").removeClass("tiles-img")
                jQuery("#content-data").addClass("mt-4");
                jQuery("#usrProfile").detach().prependTo('#drawer')
                jQuery("#list-drawer").detach().appendTo('#drawer');
                jQuery("#topContent").removeClass("flex-column")
                jQuery("#usrProfile").removeClass("my-2")
                jQuery("#content-data").addClass("flex-column");      
              } else {
              }
            });
          })
        });
      })
  </script>
</body>
</html>