
.content-wrapper {
  transition: all 1s;
  #btn-mode {
    border-top: 1px solid #D6E5EA;
    border-bottom: 1px solid #D6E5EA;
    transition: all 1s;
    .btn-active {
      transition: all 1s;
      border: 1px solid #013C50;
      > i {
        transition: all 1s;
        color: #013C50;
        font-size: 1.5rem
      }
    }
    :nth-child(even) {
      margin: 0 8px;
    }
    > button {
      transition: all 1s;
      background-color: transparent;
      border: 1px solid #D6E5EA;
      padding: 4px 4px 2px 4px;
      border-radius: 5px;
      > i {
        transition: all 1s;
        color: #D6E5EA;
        font-size: 1.2rem;
      }
    }
  }
}