.header {
  height: 50px;
  -webkit-box-shadow: 0px 15px 11px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 11px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 11px -6px rgba(0,0,0,0.75);
  
  .img-header{
    height: 40px
  }
}