<div class="w-100">
  <div class="d-none d-sm-block">
    <div class="kotak d-flex flex-column justify-content-center align-items-center">
      <span class="kotak-title font-weight-light">@@title</span>
      <span class="kotak-isi font-weight-bold">@@isi</span>
    </div>
  </div>
  <div class="d-block d-sm-none mx-1">
    <span class="kotak-title font-weight-light">@@title</span>
    <div class="kotak d-flex flex-column p-2 justify-content-center align-items-center">
      <span class="kotak-isi font-weight-bold">@@isi</span>
    </div>
  </div>
</div>
